body {
    background-image: url("https://img.freepik.com/free-vector/hand-drawn-background-christmas-season-celebration_23-2150989642.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-size: larger;
}

